In [1]:
import pandas as pd
import os
import boto3 
from io import StringIO
import csv
import numpy as np
from datetime import datetime

In [2]:
# bucket_name = 'ml2-group8' # Add your bucket name
# sessions = 'sessions.csv'
# events = "events.csv"
# s3 = boto3.resource('s3')
# bucket = s3.Bucket(bucket_name) 
# sessions_obj = bucket.Object(key=sessions) # S3 uses key-value structure where key is your file name
# sessions_file = sessions_obj.get()["Body"].read().decode('utf-8') # Read the Body which is the contents of the file.
# events_obj = bucket.Object(key=events) # S3 uses key-value structure where key is your file name
# events_file = events_obj.get()["Body"].read().decode('utf-8') # Read the Body which is the contents of the file.

# Reading Clean Sessions

In [3]:
sessions = pd.read_csv("../clean_sessions.csv")

In [6]:
sessions_df = sessions.drop(columns=["Unnamed: 0"])

# Cleaning Sessions (do not need to do again)

In [42]:
sessions = sessions_file.split("\n")
events = events_file.split("\n")

In [43]:
session_header = sessions[0].split(",")
event_header = events[0].split(",")

In [44]:
sessions = sessions[1:]
events = events[1:]

In [50]:
sessions = [row.split(",") for row in sessions]

In [64]:
session_header = session_header[1], session_header[2], session_header[5], session_header[6]\
, session_header[7], session_header[8], session_header[9], session_header[10], session_header[11], \
session_header[12], session_header[19], session_header[21]

In [68]:
new_sessions = []
for row in sessions:
    if len(row) == 22:
        new_sessions.append([row[1], row[2], row[5], row[6], row[7], row[8], row[9], row[10], row[11], 
                            row[12], row[19], row[21]])

In [134]:
sessions_df = pd.DataFrame(new_sessions, columns=session_header)

## Filtering

In [135]:
sessions_df = sessions_df.drop(sessions_df[(sessions_df.is_session == "false") | 
                                           (sessions_df.is_developer == "true") |
                                           (sessions_df.is_wau == "true") | 
                                           (sessions_df.is_mau == "true")].index)

In [136]:
sessions_df = sessions_df.drop(columns=["is_session", "is_developer", "is_wau", "is_mau"])

In [137]:
sessions_df.start_timestamp = sessions_df.start_timestamp.astype(float)
sessions_df.previous_sessions_duration = sessions_df.previous_sessions_duration.astype(float)
sessions_df.user_created_timestamp = sessions_df.user_created_timestamp.astype(float)

In [138]:
sessions_df.start_timestamp = pd.to_datetime(sessions_df.start_timestamp, unit='ms')
sessions_df.user_created_timestamp = pd.to_datetime(sessions_df.user_created_timestamp, unit='ms')

In [140]:
sessions_df = sessions_df.sort_values(by=["start_timestamp", "user_id_hash", "session_id"])

In [141]:
sessions_df.head(50)

,session_id,start_timestamp,previous_sessions_duration,user_created_timestamp,is_user_first_session,country,session_index,user_id_hash
3079316,4339488202460077611,2018-10-01 07:00:04.526,0.0,2018-10-01 07:00:04.526,true,AU,1,c9bad12f865142f1b3938c9ab8a3003a7882136a2b4a12...
5760506,7012480646309837595,2018-10-01 07:00:08.476,0.0,2018-10-01 07:00:08.476,true,NZ,1,285863e47df26bf47664c93d45c35ee3b9cfc8e253da23...
860189,2920311224184894615,2018-10-01 07:01:02.101,1000637.0,2018-10-01 06:44:08.468,false,IN,2,475f8f20576637055c5331513dda4db1d889f5e951c8e5...
2222180,8483277250870486701,2018-10-01 07:01:30.694,0.0,2018-10-01 07:01:30.694,true,US,1,4bc7b52d56b24d258ba1746994492f354fd4b17fcaae81...
2300433,8114762104527844914,2018-10-01 07:01:57.770,2415582.0,2018-10-01 06:18:23.919,false,US,2,82349b0d1a80b42e59519068ded46178778084b9602b9c...
5137385,2281734275777082249,2018-10-01 07:02:35.704,2962951.0,2018-10-01 05:35:59.965,false,US,2,f563dc33ecdeb24f3e38f3aeb50fc317e7316aab431d9f...
358267,39412282703486323,2018-10-01 07:02:44.241,5168102.0,2018-10-01 02:43:32.894,false,PH,5,ffd82ac7dd78dfb8634721a5cc66cd7e76e640c1662392...
4631720,4255960407856033328,2018-10-01 07:02:47.272,0.0,2018-10-01 06:51:24.929,true,AU,1,3b9d68998ff3dd0f2e4bb4955b40839ff55d9c4f0f6b46...
2300432,2873072320135565407,2018-10-01 07:02:49.772,2450578.0,2018-10-01 06:18:23.919,false,US,3,82349b0d1a80b42e59519068ded46178778084b9602b9c...
2496512,6553551957396038058,2018-10-01 07:02:56.262,0.0,2018-10-01 07:02:56.262,true,ZA,1,f43feee8a559001f003abd31b61dc2fb2c526dc6c82d83...
2820322,8746427477484969665,2018-10-01 07:03:05.227,0.0,2018-10-01 07:03:05.227,true,SR,1,5a8605393393d172152323d876fc8e8140ea6f06d57c56...
2677128,4942066889681208697,2018-10-01 07:03:09.241,1978393.0,2018-10-01 04:18:16.241,false,MY,4,350effb41d20998f31ba342c4c6c6bd8c7e7a834e87bcd...
5895988,4373827773003635832,2018-10-01 07:03:13.794,0.0,2018-10-01 07:02:59.750,true,HR,1,768bd874f6d1b1018c1cb087410cdd1989395228c8749d...
3317374,2890721378219647232,2018-10-01 07:03:15.984,2168144.0,2018-10-01 05:45:43.563,false,AU,2,df97fe7c59fcb8ae3fa68746132c360df8d7b209310bdd...
3041103,1133952179644382997,2018-10-01 07:03:20.634,637709.0,2018-10-01 06:50:40.877,false,PH,2,ce7d2716238bfe1231fbf64e8a24110b0a83890dc76814...
4753692,1013431241513319893,2018-10-01 07:03:29.321,1814834.0,2018-10-01 02:38:28.955,false,US,4,c1c3ee2fbdabbe1255582339af36270b9724e093dc7bd4...
55865,69975644525022853,2018-10-01 07:03:31.445,0.0,2018-10-01 07:03:31.445,true,IN,1,d06fa683e6864327aa6ef4cbe782e9cf028858d8a1809a...
2939318,7967726726265541583,2018-10-01 07:03:31.611,0.0,2018-10-01 07:03:31.611,true,AU,1,5ef53802bddca2fff5fbb325ab17a6ac796ef3e2a73048...
2571507,7998917458473083754,2018-10-01 07:03:39.506,2672004.0,2018-10-01 02:37:47.224,false,HK,3,b325c882b931fb2edf5a7797ac7f746026f6317e73f33c...
6228018,4845776359550628795,2018-10-01 07:03:45.078,58421.0,2018-10-01 06:27:01.095,false,ID,2,694b3032c73786998799f157cda3183149f1217e68ac8e...
23669,7575139591610475133,2018-10-01 07:03:45.715,575885.0,2018-10-01 05:11:11.740,false,IN,2,7f5863727a204828af82bf28ce3be3caaf1d323e07703a...
5564281,7216783865033306286,2018-10-01 07:04:01.201,3422528.0,2018-10-01 01:47:41.438,false,US,5,55aa4c52e8cb2a549f71005e50cafa9a8f8ad2f1a0689b...
4964444,2184439221375567535,2018-10-01 07:04:02.521,2469158.0,2018-10-01 06:21:06.094,false,US,2,68c9dfee0fbbc7ff0034ef55774d3e5cd3a85cf0a3530a...
1270740,3639394220684530810,2018-10-01 07:04:04.993,0.0,2018-10-01 07:04:04.993,true,US,1,38600f78afcf1f649830fb75731ae9cda450f6e287b378...
3336500,8566226158571145391,2018-10-01 07:04:09.097,0.0,2018-10-01 07:04:09.097,true,CA,1,91bea3ee2db221019a65a6b70fc00cd9352152f4d94035...
4593497,3517356483592686973,2018-10-01 07:04:15.531,0.0,2018-10-01 07:04:15.531,true,US,1,6920fe2cafa6a59de4f7c10accf742cd49616b40c223a6...
5909437,1382416533141744301,2018-10-01 07:04:18.302,1586120.0,2018-10-01 05:19:26.674,false,US,2,d039e35e3d1e90fa0d9dcbd841138844402c3a41a96a77...
5215292,2077203429858049464,2018-10-01 07:04:19.217,0.0,2018-10-01 07:03:36.594,true,NG,1,fd07bf1c1ce13622183bfefe73baf50aa63dafc5eb7d96...
4753689,4044701645050921634,2018-10-01 07:04:19.259,1858037.0,2018-10-01 02:38:28.955,false,US,5,c1c3ee2fbdabbe1255582339af36270b9724e093dc7bd4...
5693132,8861607613711017429,2018-10-01 07:04:23.711,0.0,2018-10-01 07:04:20.622,true,ZA,1,c06cf89b636ba5d92c18881fdc877efbbd1f8ff329c789...
3074280,594416914013239645,2018-10-01 07:04:27.547,261742.0,2018-10-01 04:42:04.927,false,AU,2,0e35b83bb296206991724334af825aaff215254dae8989...
3536192,491841686711187106,2018-10-01 07:04:36.854,0.0,2018-10-01 07:04:36.854,true,US,1,ce51e11a64b9eea82e049c893899e4e0c28ccfdad11dd3...
4630200,8360450364356151829,2018-10-01 07:04:42.411,1534455.0,2018-10-01 05:57:50.226,false,SG,2,9af38f8dd98265f832f30093c15e7964da503acd5bcd43...
179129,2886951411316725967,2018-10-01 07:04:58.083,0.0,2018-10-01 07:04:07.736,true,PH,1,5494e389cbd051980108d50d19ddd78a2e7530d0e1d36c...
5738004,4010860028906517259,2018-10-01 07:05:00.375,790760.0,2018-10-01 01:30:44.108,false,NZ,9,2393384ef4af8d721d7e29f42ee16b6534186698f2d237...
2772746,8443613081870623665,2018-10-01 07:05:18.402,0.0,2018-10-01 07:05:18.402,true,US,1,f5653541a17a99afe89315ea4388ea11981901d96b8b21...
3455984,808838546040485441,2018-10-01 07:05:43.448,860459.0,2018-10-01 06:38:34.597,false,NA,2,f813965b48928e37648baf72fd3ecebb1f58a3dca3edcd...
3127624,5341322363734682123,2018-10-01 07:05:52.675,3110549.0,2018-10-01 00:13:13.541,false,US,11,170f82339dede7eec856c53ba8e26c993b05fa651829d9...
1704449,4413874159569895968,2018-10-01 07:05:54.753,0.0,2018-10-01 07:05:53.903,true,US,1,afd1e77cc27cc8636585211939dc1a4a9b3a6638f02670...
5381060,6914409681636034792,2018-10-01 07:06:01.037,0.0,2018-10-01 07:06:01.037,true,ZA,1,e225acf6449898c0915bf927698d0df7600dac3ac763b3...
2867389,5507648615178875998,2018-10-01 07:06:59.908,3002508.0,2018-10-01 02:26:04.840,false,US,3,14b28230e38053062a2a2cb9b8db138de99f4e847a29d3...
1729198,6625637724670635937,2018-10-01 07:07:09.264,2243709.0,2018-10-01 00:18:53.278,false,ZA,2,c2937985295afbbd83442ca095a316f96236771ac182e8...
3973741,7372099737280737103,2018-10-01 07:07:10.011,1010330.0,2018-10-01 06:49:07.163,false,IN,2,8a8e89d38c0698dfa69dccf0237746dcace3e704e35f94...
2646997,3881817003780984101,2018-10-01 07:07:37.317,0.0,2018-10-01 07:07:37.317,true,US,1,df640431c504c992d5288183dde59e45d589210ec9f34c...
4497069,6308932373725194679,2018-10-01 07:07:38.284,2826609.0,2018-10-01 03:29:50.390,false,IN,3,f759ecffc0b980693bbd911949d99de667814e2bf29f39...
4593501,2665362188374327907,2018-10-01 07:07:52.558,160988.0,2018-10-01 07:04:15.531,false,US,2,6920fe2cafa6a59de4f7c10accf742cd49616b40c223a6...
4734927,526053070100597711,2018-10-01 07:07:56.067,0.0,2018-10-01 07:07:56.067,true,US,1,404b39e99f63af06f337bde59f668654cb0d0e0f25ff62...
433745,4539409872952619787,2018-10-01 07:08:13.884,0.0,2018-10-01 07:08:13.884,true,MY,1,7c982453a697024275f2834d7f7540a1fef0e3c5378346...
4622301,2261836094457109167,2018-10-01 07:08:51.502,0.0,2018-10-01 07:08:51.502,true,ZA,1,0ecab7fe35d6aad029a04f3a346a642d29e1d7bbc14a40...
2386115,194728061894894679,2018-10-01 07:09:04.444,618452.0,2018-10-01 02:30:36.283,false,AU,2,1ff3bc3e23fa431824d03998a66fa1a130c72b302ff31f...

In [143]:
sessions_df.to_csv("clean_sessions.csv")

# Read Events

In [11]:
bucket_name = 'ml2-group8' # Add your bucket name
events = "events.csv"
s3 = boto3.resource('s3')
bucket = s3.Bucket(bucket_name) 
events_obj = bucket.Object(key=events) # S3 uses key-value structure where key is your file name
events_file = events_obj.get()["Body"].read().decode('utf-8') # Read the Body which is the contents of the file.

In [13]:
event_str = StringIO(events_file)

In [15]:
events_df = pd.read_csv(event_str, sep=",", error_bad_lines=False)

In [18]:
events_df = events_df.drop(columns=["event_value"])

In [21]:
events_df.event_timestamp = pd.to_datetime(events_df.event_timestamp, unit='ms')

In [31]:
purchases = [1 if x == "8" else 0 for x in events_df.event]

In [33]:
events_df["purchases"] = purchases

In [37]:
events_df.head()

,app_id,session_id,event,event_timestamp,user_id_hash,purchases
0,4724682771660800,5558845121177764917,45,2018-11-14 17:09:57.132,9943447915df3a45fd6720a026af905b6da6b56a37701b...,0
1,4724682771660800,5558845121177764917,45,2018-11-14 17:11:24.895,9943447915df3a45fd6720a026af905b6da6b56a37701b...,0
2,4724682771660800,7689508378645584666,.m5100869650219008,2018-11-02 02:06:50.372,9943447915df3a45fd6720a026af905b6da6b56a37701b...,0
3,4724682771660800,2201961907282901522,4,2018-12-02 01:11:31.129,9943447915df3a45fd6720a026af905b6da6b56a37701b...,0
4,4724682771660800,2201961907282901522,6,2018-12-02 01:11:33.116,9943447915df3a45fd6720a026af905b6da6b56a37701b...,0

In [318]:
events_df.to_csv("../clean_events.csv")

In [40]:
dec_events = events_df[events_df.event_timestamp >= "2018-12-01 00:00:00.000"].sort_values(by="event_timestamp")

In [43]:
week1 = dec_events[dec_events.event_timestamp < "2018-12-08 00:00:00.000"]
week2 = dec_events[dec_events.event_timestamp < "2018-12-15 00:00:00.000"]

In [66]:
week1_buyers = week1[["user_id_hash", "purchases"]].groupby("user_id_hash").sum()
week1_buyers["week1_purchaser"] = [1 if x > 0 else 0 for x in week1_buyers.purchases]
week1_buyers = week1_buyers.drop(columns=["purchases"])

In [67]:
week2_buyers = week2[["user_id_hash", "purchases"]].groupby("user_id_hash").sum()
week2_buyers["week2_purchaser"] = [1 if x > 0 else 0 for x in week2_buyers.purchases]
week2_buyers = week2_buyers.drop(columns=["purchases"])

In [68]:
dec_df = week1_buyers.join(week2_buyers, on="user_id_hash", how="outer")

In [69]:
dec_df.head()

,week1_purchaser,week2_purchaser
user_id_hash,,
000081a7d841b0f953bdba6c185fd5cc335fd6015a30c3035fbf5496aab9be7c,0.0,0
0000bc4e8bfc829d327fa69bdc426dd8a789c52550ed87611492c62e2e6a9540,0.0,0
00020102f66f89759868c843ae9fe634870f132f9e3d7990ca9c794a564477be,0.0,0
0002e987a7c0f2c23b8ef2230f3934c77ed94a15778d2cde413da9e4df572df7,0.0,0
0004254c12f732e958e157c5e507347944e7ae2b0d9abcc8b4b1b743c87454cc,0.0,0

In [153]:
len(dec_df)

89291

In [71]:
train_df = sessions_df[sessions_df.start_timestamp < "2018-12-01 00:00:00.000"]

In [88]:
train_df.head()

,session_id,start_timestamp,previous_sessions_duration,user_created_timestamp,is_user_first_session,country,session_index,user_id_hash
0,4339488202460077611,2018-10-01 07:00:04.526,0.0,2018-10-01 07:00:04.526,True,AU,1,c9bad12f865142f1b3938c9ab8a3003a7882136a2b4a12...
1,7012480646309837595,2018-10-01 07:00:08.476,0.0,2018-10-01 07:00:08.476,True,NZ,1,285863e47df26bf47664c93d45c35ee3b9cfc8e253da23...
2,2920311224184894615,2018-10-01 07:01:02.101,1000637.0,2018-10-01 06:44:08.468,False,IN,2,475f8f20576637055c5331513dda4db1d889f5e951c8e5...
3,8483277250870486701,2018-10-01 07:01:30.694,0.0,2018-10-01 07:01:30.694,True,US,1,4bc7b52d56b24d258ba1746994492f354fd4b17fcaae81...
4,8114762104527844914,2018-10-01 07:01:57.770,2415582.0,2018-10-01 06:18:23.919,False,US,2,82349b0d1a80b42e59519068ded46178778084b9602b9c...

In [89]:
unique_users = pd.DataFrame(train_df["user_id_hash"].unique(), columns=["user_id_hash"])

In [91]:
session_counts = train_df[["user_id_hash", "session_index"]].groupby("user_id_hash").max()

In [92]:
unique_users = unique_users.join(session_counts, on="user_id_hash", how="outer")

In [140]:
duration_sum = train_df[["user_id_hash", "previous_sessions_duration"]].groupby("user_id_hash").sum()

In [142]:
session_max = train_df[["user_id_hash", "session_index"]].groupby("user_id_hash").max()

In [145]:
dur_ses = duration_sum.join(session_max, on="user_id_hash", how="outer")

In [147]:
dur_ses["duration_session_ratio"] = dur_ses.previous_sessions_duration / dur_ses.session_index

In [149]:
dur_ses = dur_ses.drop(columns=["previous_sessions_duration", "session_index"])

In [151]:
unique_users = unique_users.join(dur_ses, on="user_id_hash", how="outer")

In [152]:
unique_users.head()

,user_id_hash,session_index,duration_session_ratio
0,c9bad12f865142f1b3938c9ab8a3003a7882136a2b4a12...,32,1.712776e+07
1,285863e47df26bf47664c93d45c35ee3b9cfc8e253da23...,1,0.000000e+00
2,475f8f20576637055c5331513dda4db1d889f5e951c8e5...,78,3.262055e+07
3,4bc7b52d56b24d258ba1746994492f354fd4b17fcaae81...,1,0.000000e+00
4,82349b0d1a80b42e59519068ded46178778084b9602b9c...,3,1.622053e+06

In [155]:
unique_users = unique_users.join(dec_df, on="user_id_hash", how="left").fillna(value=0)

In [157]:
unique_users.head()

,user_id_hash,session_index,duration_session_ratio,week1_purchaser,week2_purchaser
0,c9bad12f865142f1b3938c9ab8a3003a7882136a2b4a12...,32,1.712776e+07,0.0,0.0
1,285863e47df26bf47664c93d45c35ee3b9cfc8e253da23...,1,0.000000e+00,0.0,0.0
2,475f8f20576637055c5331513dda4db1d889f5e951c8e5...,78,3.262055e+07,0.0,0.0
3,4bc7b52d56b24d258ba1746994492f354fd4b17fcaae81...,1,0.000000e+00,0.0,0.0
4,82349b0d1a80b42e59519068ded46178778084b9602b9c...,3,1.622053e+06,0.0,0.0

In [158]:
unique_users.to_csv("../train.csv")

In [201]:
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction import FeatureHasher

In [161]:
label_enc = LabelEncoder()

In [189]:
unique_users["user_enc"] = label_enc.fit_transform(unique_users.user_id_hash)

In [214]:
hasher = FeatureHasher(input_type="string", n_features=1)

In [215]:
unique_users["hashed"] = hasher.fit_transform(unique_users.user_id_hash)

In [216]:
unique_users.head()

,user_id_hash,session_index,duration_session_ratio,week1_purchaser,week2_purchaser,user_enc,hashed
0,c9bad12f865142f1b3938c9ab8a3003a7882136a2b4a12...,32,1.712776e+07,0.0,0.0,487769,"(0, 0)\t4.0\n (1, 0)\t22.0\n (2, 0)\t22.0\..."
1,285863e47df26bf47664c93d45c35ee3b9cfc8e253da23...,1,0.000000e+00,0.0,0.0,97433,"(0, 0)\t4.0\n (1, 0)\t22.0\n (2, 0)\t22.0\..."
2,475f8f20576637055c5331513dda4db1d889f5e951c8e5...,78,3.262055e+07,0.0,0.0,172753,"(0, 0)\t4.0\n (1, 0)\t22.0\n (2, 0)\t22.0\..."
3,4bc7b52d56b24d258ba1746994492f354fd4b17fcaae81...,1,0.000000e+00,0.0,0.0,183435,"(0, 0)\t4.0\n (1, 0)\t22.0\n (2, 0)\t22.0\..."
4,82349b0d1a80b42e59519068ded46178778084b9602b9c...,3,1.622053e+06,0.0,0.0,315225,"(0, 0)\t4.0\n (1, 0)\t22.0\n (2, 0)\t22.0\..."

# Model Creation

In [262]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [228]:
train, test = unique_users.iloc[:495095], unique_users.iloc[495095:]

In [247]:
X_train = train.drop(columns=["user_id_hash", "week1_purchaser", "week2_purchaser", "user_enc", "hashed"])
X_test = test.drop(columns=["user_id_hash", "week1_purchaser", "week2_purchaser", "user_enc", "hashed"])
y1_train = train.week1_purchaser
y2_train = train.week2_purchaser
y1_test = test.week1_purchaser
y2_test = test.week2_purchaser

In [230]:
lr = LogisticRegression()

In [243]:
for col in X_train:
    X_train[col] = X_train[col].values

In [249]:
lr_week1 = lr.fit(X_train, y1_train.values)
lr_week2 = lr.fit(X_train, y2_train.values)

/usr/local/lib/python3.5/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.5/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [293]:
week1_pred = lr_week1.predict_proba(X_test)[:,0]
week1_pred2 = lr_week1.predict_proba(X_train)[:,0]
week2_pred = lr_week2.predict_proba(X_test)[:,0]
week2_pred2 = lr_week2.predict_proba(X_train)[:,0]

In [267]:
roc_auc_score(y1_test, week1_pred)

0.8503998173169813

In [268]:
roc_auc_score(y2_test, week2_pred)

0.8438595898785237

In [294]:
roc_auc_score(y1_train, week1_pred2)

0.9336167337075638

In [295]:
roc_auc_score(y2_train, week2_pred2)

0.9217193156098248

# Predictions

In [269]:
bucket_name = 'ml2-group8' # Add your bucket name
events = "sample_submission_2.csv"
s3 = boto3.resource('s3')
bucket = s3.Bucket(bucket_name) 
prediction_obj = bucket.Object(key=events) # S3 uses key-value structure where key is your file name
prediction_file = prediction_obj.get()["Body"].read().decode('utf-8') # Read the Body which is the contents of the file.

In [309]:
X = unique_users[["session_index", "duration_session_ratio"]]
y1 = unique_users.week1_purchaser
y2 = unique_users.week2_purchaser

In [310]:
full_week1 = lr.fit(X, y1)
full_week2 = lr.fit(X, y2)

/usr/local/lib/python3.5/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.5/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [313]:
full_week1_pred = full_week1.predict_proba(X)[:,0]
full_week2_pred = full_week2.predict_proba(X)[:,0]

In [277]:
predictions = prediction_file.split("\n")

In [278]:
prediction_header = predictions[0].split(",")
predictions = predictions[1:]

In [279]:
prediction_header

['user_id_hash', 'user_purchase_binary_7_days', 'user_purchase_binary_14_days']

In [280]:
for row in range(len(predictions)):
    predictions[row] = predictions[row].split(",")

In [282]:
pred_df = pd.DataFrame(predictions, columns=prediction_header)

In [319]:
pred_df.to_csv("../sample_submission.csv")

In [283]:
pred_df.head()

,user_id_hash,user_purchase_binary_7_days,user_purchase_binary_14_days
0,e469dfaed039ead9110165d9bc457acb11609ca34057dc...,0.01,0.02
1,afcc639a324b6c598ef83d360450afa011cb2dd1358bf9...,0.01,0.02
2,fd5a7cf211d08e3e00f7be6a9df6e6ea3d2e5c22a5d9c3...,0.01,0.02
3,00bfff98b9d0329f014c2eeac7ce47cd18b2bc6e10d608...,0.01,0.02
4,0d298f3638c43e915c119d4935e1ce8d168f81b5e3e8c1...,0.01,0.02

In [287]:
prediction_users = np.array(pred_df.user_id_hash.unique())

In [288]:
our_users = np.array(unique_users.user_id_hash)